.container{
  background-color: var(--gray-700);
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.contadorDisplay{
  font-size: 3.5rem;
  font-weight: bold;
  padding: 2rem;
}

.botaoContainer{
  display: flex;
  gap: 1rem;
}

.botao{
  padding: 2rem;
  margin: 1rem;
  background-color: var(--primary);
  color: var(--gray-100);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}